# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/main/resources/assets/lunar_origins/models/
/src/main/resources/data/c/
/src/main/resources/data/trinkets/
/src/main/resources/data/lunar_origins/powers/
/src/main/resources/data/lunar_origins/recipes/
/src/main/resources/data/lunar_origins/tags/
